.contact-form {
    text-align: center;
    background-color: #f9f9f9;
  
    .form-container {
      max-width: 659px;
      margin: auto;
      padding: 50px 0 125px 0;
  
      .form-control {
        border: 1px solid #e5e5e5;
        height: 40px;
        background-color: #efefef;
        border-radius: 0px;
        &.text-area {
          height: 205px;
          border: 1px solid #e5e5e5;
        }     
      }
      
      .btn-send {  
        padding: 0;
        button {
          margin-top: 10px;
          border-radius: 1px ;
          width: 100%;
          background-color: #39cb74;
          color: #fff;
          box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
          padding: 9px 0;
          font-weight: bold;
          &[disabled]{
            background: #777;;
          }
        }
      }
    }
}

@media only screen and (max-width: 991px) {
    
    .secure {
        text-align: center !important;
    }

    .menu-container {
        margin-top: 15px;
        text-align: center;
        padding-left: 0px;
    }

    .button, .socials  {
        text-align: center !important;;
    }

    .menu-container.menu-container-1 {
        padding-left: 0 !important;
    }

    .menu-container.menu-container-2 {
        padding-left: 0 !important;
    }

    .menu-container.menu-container-3 {
        padding-left: 0 !important;
    }

    .footer-container .button button {
        margin-left: 0;
    }

    .footer-container .socials {
        margin-left: 0;
    }

    .main-form .form-container {
        padding-left: 10px;
        padding-right: 10px;
    }

}