<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2 pr-0">
                <div class="secure d-flex">
                    <img src="../../assets/images/icons/secure-lock.svg" alt="secure">
                    <h3>Secure Privacy</h3>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list list-left pl-0">
                            <li class="m-0"><a>Product</a></li>
                            <li><a>Home</a></li>
                            <li><a>Pricing</a></li>
                            <li><a>What is GPDR</a></li>
                            <li><a>What is CCPA</a></li>
                            <li><a>What is LGPD</a></li>
                            <li><a>Free GDPR Audit</a></li>
                            <li><a>Free GDPR Audit</a></li>
                            <li><a>IAB</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list list-center pl-0">
                            <li><a>Alternative</a></li>
                            <li><a>CookieBot</a></li>
                            <li><a>Cookiepro</a></li>
                            <li><a>lubenda</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 p-0">
                        <ul class="list list-right pl-0">
                            <li><a>Company</a></li>
                            <li><a>Blog</a></li>
                            <li><a>Support</a></li>
                            <li><a>Reseller</a></li>
                            <li><a>Privacy Policy</a></li>
                            <li><a>Terms of Use</a></li>
                            <li><a>Contact us</a></li>
                            <li class="dns"><button name="dns">Do not sell</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2 request">
                <div class="req-demo">
                    <button name="req-demo">Request a Demo</button>
                </div>
                <div class="links">
                    <a class="linked-in"><img src="../../assets/images/icons/linkedin.png" alt="linkedin"></a>
                    <a class="twitter"><img src="../../assets/images/icons/twitter.png" alt="twitter"></a>
                </div>
            </div>
        </div>
    </div>
</div>
